<launch>
  <!-- Shared Configuration -->
  <rosparam file="$(find motor_response)/config/settings.yaml" />

  <!-- Tuning Configuration -->
  <rosparam file="$(find motor_response)/config/tune.yaml" />

  <!-- Tool -->
  <node
    name="motor_response"
    pkg="motor_response"
    type="tune"
    required="true"
    output="screen"
  />

  <!-- Analog/Digital I/O -->
  <node
    name="analog"
    pkg="rosserial_python"
    type="serial_node.py"
    args="/dev/ttyACM0"
    required="true"
  />
</launch>
